@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Open+Sans:wght@500&family=Roboto&family=Uchen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Roboto', sans-serif;
transition: all 0.2s linear;
border: none;
outline: none;
}

body{
    background-color: aqua;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    background-color:pink;
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

#count{
    text-align: center;
    font-size: 10rem;
    font-weight: 300;
    line-height: 1;
}

.button{
    text-align: center;
    margin-top: 2rem;
}

 button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 00.5rem;
    cursor: pointer;
    border-radius: 5px;
}

#sub{
    background-color: orangered;
    color: white;
}

#add{
    background-color: green;
    color: white;
}